/* id="" = # 
   class="" = .
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darksalmon;
}

#desktop {
    background-color: lawngreen;
    margin-left: auto;
    margin-right: auto;
    width: 71.4375rem;
    
}

/*Conteúdo*/
#game-container {
    /*margin: 1.625rem 13.75rem 3.4375rem 15.375rem;
    height: 30.25rem;*/
    width: 42.3125rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teste{
    background-color: white;
}

h1 {
    /*background-color: yellow;*/
    height: 5rem;
    margin: 2.5rem;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #328B8F;
    height: 2.375rem;
    margin: 0.1875rem;
}


.pedestre-info, .ciclista-info, .motorista-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.3125rem;
    width: 13.9375rem;
    border-width: 0.4px;
    background-color: #B0DAD6;
    border-radius: 0.3rem;
    border-style: solid;
    margin: 0.1875rem;
    text-align: center;
}
